.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 5%;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .stat-card-min {
    border-left: 3px solid magenta!important;
    &:hover {
      transform: scale(1.02);
    }
  }

  .stat-card-max {
    border-left: 3px solid rgb(255, 230, 1)!important;
    &:hover {
      transform: scale(1.02);
    }
  }

  .stat-card-avg {
    border-left: 3px solid mediumspringgreen!important;
    &:hover {
      transform: scale(1.02);
    }
  }

  tr:nth-child(odd):hover {
    background-color: lightslategray;
    color: white;
  }

  tr:nth-child(even):hover {
    background-color: gray;
    color: white;
  }

.total-submission {
  // border: 3px solid magenta!important;
  &:hover {
    transform: scale(1.02);
  }
}

.total-users {
  //border: 3px solid mediumspringgreen!important;
  &:hover {
    transform: scale(1.02);
  }
}

.card-chart {
  // border: 3px solid mediumspringgreen!important;
  &:hover {
    transform: scale(1.02);
  }
}

.table-card {
  border-top: 3px solid magenta!important;
  &:hover {
    transform: scale(1.02);
  }
}

.card {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30)!important;

}

.module-border-wrap {
  background: linear-gradient(to right, red, purple);
  
}